
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.Button {
    width: 25%;
    height: 100%;
    color: whitesmoke;
    background-color: rgba(47, 79, 79, 0.397);
    font-size: 23pt;
    font-weight: bold;
    outline: none;
    border: 1px chartreuse solid;
    border-radius: 20px;
    font-family: 'Orbitron', sans-serif;
}

.Button:hover {
    background-color: chartreuse;
    color: black;
    text-shadow: none;
}

.Button:active {
    transform: scale(.90);
}

.Button-primary {
    color: #eef2f3;
    text-shadow: -1px -1px 0 darkcyan, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Button-operator {
    color: turquoise;
    font-size: 28pt;
    text-shadow: -1px -1px 0 rgb(248, 248, 247), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Button-equalButton {
    width: 50%;
    background-color: rgba(117, 26, 117, 0.274);
    color: #eef2f3;
    font-size: 30pt;
}

.Button-nums {
    color: rgb(2, 117, 2);
    text-shadow: -1px -1px 0 rgb(74, 255, 19), 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.Button-operator-period {
    font-size: 50pt;
    color: turquoise;
    text-shadow: -1px -1px 0 darkcyan, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}